*{
    color: #F85F68;
    /* rgb(248, 95, 104) */
    color: #322832;
    /* rgb(50, 40, 50) */
    color: #77B1AD;
    /* rgb(119, 177, 173) */
    color: #DFDFDE;
    /* rgb(223, 223, 222) */
    color: ;
    /* rgb(83, 95, 128) */
}